<!-- the login page for accounts (USERS!!!)-->
{% extends 'base.html' %}
<!---->
{% block title %} Accounts {% endblock title %}
<!---->
{% block content %}
<main>
  <div>
    <h1>Login</h1>
    <form method="post">
      {% csrf_token %} {{ form.as_p }}
      <button>Login</button>
    </form>
  </div>
</main>
<p>or..</p>
<div>
  <a href="{% url 'signup' %}">Signup</a>
</div>
{% endblock content %}
