<!-- show all the Expense Categorys-->
{% extends 'base.html' %}
<!---->
{% block title %}Categorys{% endblock title %}
<!---->
{% block content %}
<main>
  <h1>My Categorys</h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Number of receipts</th>
      </tr>
    </thead>
    <tbody>
      {% for category in category_list %}
      <tr>
        <td>{{ category.name }}</td>
        <td>{{ category.receipts.all.count }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</main>
{% endblock content %}
